<div>
    <mat-form-field>
        <mat-label for="username">Felhasználónév: </mat-label>
        <input matInput type="text" [formControl]="username">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label for="password">Password: </mat-label>
        <input matInput type="password" [formControl]="password">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label for="birthDate">Birth Date: </mat-label>
        <input matInput type="date" [formControl]="birthDate">
    </mat-form-field><br>
    <span>
        <span><button mat-raised-button color="primary"  (click)="registration()" >Regisztráció</button></span>
        <span><button mat-raised-button color="primary" [routerLink]="'/login'">Bejelentkezés</button></span><br>
    </span>
</div>
